<launch>
  <arg name="ip" default="192.168.100.103"/>
  <arg name="frame" default="/ati_link"/>
  <arg name="respawn" default="true" />

  <node pkg="ati_sensor" name="ft_sensor" type="ft_sensor_node" respawn="$(arg respawn)" output="screen">
    <param name="ip" value="$(arg ip)" />
    <param name="frame" value="$(arg frame)" />
  </node>
</launch>
